
<div>


<div class="w-25 ml-auto">
  <%= search_form_for @search do |f| %>
    <%= f.label :first_name_cont, "Search passenger"%>
    <div class="form-inline">
    <%= f.search_field :first_name_cont, class: "form-control mr-sm-2 sm" %>
    <%= f.submit class:"btn btn-info btn-sm my-2 my-sm-0" %>
    </div>
  <% end %>
</div>
<h4 class="my-4 text-center text-info">List of passengers</h4>
  <table class="table table-striped shadow">
    <thead class="thead-light">
      <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Phone number</th>
        <th scope="col">ID number</th>
        <th scope="col">Destination</th>
        <th scope="col">Ref first name</th>
        <th scope="col">Ref last name</th>
        <th scope="col">Ref Phone number</th>
        <th scope="col">Entry date</th>
        <th scope="col">Return date</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @passengers.each do |passenger| %>
        <tr>
          <td><%= passenger.first_name %></td>
          <td><%= passenger.last_name %></td>
          <td><%= passenger.phone %></td>
          <td><%= passenger.id_number %></td>
          <td><%= passenger.destination %></td>
          <td><%= passenger.ref_first_name %></td>
          <td><%= passenger.ref_last_name %></td>
          <td><%= passenger.ref_phone_number %></td>
          <td><%= passenger.entry_on %></td>
          <td><%= passenger.return_on %></td>
          <td>
            <% if passenger.status == true %>
              <%= link_to "Returned", passenger_path(passenger, :status => false),method: :patch ,class: 'btn btn-sm btn-success' %>
            <% end %>
            <% if passenger.status == false %>
              <%= link_to "Not_returned", passenger_path(passenger, :status => true),method: :patch ,class: 'btn btn-sm btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @passengers %>
  </div>
